<button id="signout" type="button" class="btn btn-sm btn-danger navbar-btn">Log Out</button>
<button id="saved" type="button" class="btn btn-sm btn-success navbar-btn">Saved Forecasts</button>
<span class="span-profile">
  <h4>{{displayName}}</h4>
  <img id="profile-pic" src="{{photoURL}}">
</span>
