<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control" aria-label="...">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select Forecast<span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#">Today's Forecast</a></li>
            <li><a href="#">3 Day Forecast</a></li>
            <li><a href="#">7 Day Forecast</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
